body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.container{
    border: 1px solid black;
    border-radius: 20px;
    width: 40%;
    min-height: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 20px 30px ;
    background-color: #1B244A;
    color: white;
}

.container div{
    flex : 1 1 40% ;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.head span{
    padding: 0px;
    margin: 0px;
    font-size: 50px;
    display: flex;
    justify-content: center;
}
@font-face {
    font-family: digital;
    src: url(./font/digital-7.ttf);
}
   
.number{
    font-family: digital;
    border-radius: 10px;
    color: red;
    height: 180px;
    width: 180px;
    background-color: black;
    font-size: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.button{
    margin: 20px;
}

.home-btn , .guest-btn{
    color:#535F88;
    cursor: pointer;
    font-size: 25px;
    background-color: transparent;
    outline: none;
    border: 1px solid #535F88 ;
    border-radius: 7px;
    height: 50px;
    padding:5px;
    font-weight: 700;
    margin: 0px 5px;
}
.button button:active{
    color: #b0bbdd9e;
    background-color: white;
}

#reset-btn{
    color:#535F88;
    cursor: pointer;
    font-size: 25px;
    background-color: white;
    outline: none;
    border: 1px solid #535F88 ;
    border-radius: 7px;
    height: 50px;
    padding:5px 50px;
    font-weight: 700;
    margin: 20px;
}
#reset-btn:active{
    background-color: rebeccapurple;
    color: white;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

.rotating {
    animation: rotate 0.1s linear;
}

